body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 15px;
  font-family: Libre Franklin;
  font-weight: 300;
}
.container {
  margin: 20px;
}
header {
  padding-top: 50px;
}
#beta {
  color: black;
}
.subsec-1 {
  display: grid;
  grid-template-columns: 250px 130px;
  grid-gap: 5px;
  justify-content: center;
}
button {
  padding: 8px 25px;
  border-radius: 40px;
  border: hidden;
  background-color: hsl(223, 87%, 63%);
  color: white;
}
button:hover {
  cursor: pointer;
  opacity: 0.9;
}
section h1 {
  color: hsl(0, 0%, 59%);
}
input {
  padding: 8px;
  padding-left: 20px;
  padding-right: 60px;
  border-radius: 40px;
  border-color: rgb(228, 224, 224);
  border-style: solid;
  outline: none;
}
.sec-3 {
  justify-content: center;
  display: grid;
  grid-template-columns: 25px 25px 25px;
  padding-top: 40px;
}
dashboard {
  width: 50px;
  height: 50px;
}

section img {
  width: 400px;
}

footer p {
  color: hsl(0, 0%, 59%);
  font-size: 13px;
  padding-bottom: 10px;
}
@media only screen and (max-width: 375px) {
  .subsec-1 {
    display: flex;
    flex-direction: column;
  }
  section img {
    width: 100%;
  }
  .container {
    margin: 30px;
  }
}
